body{
    display: flex;
    flex-wrap: wrap;
}
.form{
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 10%;
}
button,input,select{
    border-radius: 5px;
}
select,input{
    background-color: white;
    border: black solid 1px;
}
select{
    width: 180px;
}
button{
    border: 1px solid black;
    background-color: white;
    width: 70px;
    height: 30px;
    font-weight: bold;
    font-size: 1em;
}
button:hover{
    background-color: black;
    color: white;
}
header{
    width: 100%;
    text-align: center;
}
.animal{
    display: flex;
    width: 30%;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
}
.fiche{
    padding: 2%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 1em;
    justify-content: space-between;
    background-color: white;
    border: 2px solid black;
    width: 100%;
}
#imageajout{
    width: 250px;
    height: auto;
}
#modifier{
    text-align: center;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    width: 90px;
    height: 22px;
    font-weight: bold;
    font-size: 1em;
}
#modifier:hover{
    background-color: black;
    color: white;
}
#supprimer{
    text-align: center;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    width: 90px;
    height: 22px;
    font-weight: bold;
    font-size: 1em;
}
#supprimer:hover{
    background-color: black;
    color: white;
}